<div class="grid">
  <div class="grid__col grid__col--2-of-2">
    <ul class="navigation">
  <li class="navigation__item">  <a href="#/register">Register</a> </li>
  <li class="navigation__item">  <a href="#/">Login</a> </li>
  <li class="navigation__item">  <a href="#/coins">Coins</a></li>
  <li class="navigation__item">  <a href="#/network">Network</a></li>
  <li class="navigation__item">  <a href="#/transactions">Transactions</a></li>
      <li class="navigation__item">  <a (click)="logoutFunction()" href="#/">Logout</a></li>
  </ul>
  </div>
</div>
