<div class="wrapper">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <form class="searchform">
        <input type="text" name="search" placeholder="Search for someone..."><button>S</button>
      </form>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="statsSection">
        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Friends
          </div>
        </div>

        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Friends of Friends
          </div>
        </div>
      </div>
      </div>



    <div class="grid__col grid__col--2-of-2">

<div class="friend__tile">
      <div class="friend__name">
        Erica Campell
      </div>
      <div class="friend__innerTile">
        <div class="friend__image">
        </div>
        <div class="friend__stats">
            <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Buyer
          </div>
  </div>
            <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Seller
          </div>
  </div>
            <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Friends
          </div>
            </div>
        </div>
      </div>
    </div>

    <div class="friend__tile">
          <div class="friend__name">
            Nico Herzig
          </div>
          <div class="friend__innerTile friend__innerTile--inactive">
            <div class="friend__image">
            </div>
            <div class="friend__stats">
                <div class="statsSection__tile">
              <div class="statsSection__tile__value">
                0
              </div>
              <div class="statsSection__tile__description">
                Buyer
              </div>
      </div>
                <div class="statsSection__tile">
              <div class="statsSection__tile__value">
                0
              </div>
              <div class="statsSection__tile__description">
                Seller
              </div>
      </div>
                <div class="statsSection__tile">
              <div class="statsSection__tile__value">
                0
              </div>
              <div class="statsSection__tile__description">
                Friends
              </div>
                </div>
            </div>
          </div>
        </div>

    </div>

  </div>
</div>
