<div class="wrapper">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="welcomeMessage">Welcome!</div>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="statsSection">
        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            {{ balance }}
          </div>
          <div class="statsSection__tile__description">
            Coins
          </div>
        </div>
<!--
        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Friends
          </div>
        </div>

        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Consumer
          </div>
        </div>

        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            0
          </div>
          <div class="statsSection__tile__description">
            Provider
          </div>
        </div> -->
      </div>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="transaction__tile">
        <table class="transaction__table">
        	<tbody>
            <tr class="transaction__table__row__first">
              <td>ID</td>
              <td>Consumer</td>
              <td>Provider</td>
              <td>Computation</td>
              <td>Coins</td>
              <td>Status</td>
              <td>Tasklet ID</td>
            </tr>
            <tr *ngFor="let transactionListItem of getTransactions()" class="transaction__table__row">
              <td>{{ transactionListItem.id }}</td>
              <td>{{ transactionListItem.consumer }}</td>
              <td>{{ transactionListItem.provider }}</td>
              <td>{{ transactionListItem.computation }}</td>
              <td>{{ transactionListItem.coins }}</td>
              <td>{{ transactionListItem.status }}</td>
              <td>{{ transactionListItem.taskletid }}</td>
            </tr>
          </tbody>
        </table>

<!--
<table class="transaction__table">
	<tbody>
    <div *ngFor="let transactionListItem of getTransactions()" class="friend__tile">
            {{ transactionListItem.id }}
    </div>
	<tr *ngFor="let transaction of transactions" class="transaction__table__row">
		<td>{{ transaction.provider }}</td>
		<td>{{ transaction.computation }} Tasklets</td>
		<td class="transaction__table__coins">{{ transaction.coins }} Coins</td>
	</tr>

  <tr class="transaction__table__row__last">
		<td>Jannicks Server</td>
		<td>150 Tasklets</td>
		<td class="transaction__table__coins">150 Coins</td>
	</tr>

  <tr>
		<td></td>
		<td><div class="transaction__table__sumNumber">500</div><div>Tasklets</div></td>
		<td class="transaction__table__coins"><div class="transaction__table__sumNumber">500</div><div>Coins</div></td>
	</tr>
	</tbody>
</table>
-->

      </div>
    </div>

  </div>
</div>
