extends layout

block content
    h1= title
    form#formAddTransaction_Acc(name="addtransaction_Acc",method="post",action="/addtransaction_Acc")
        input#inputBuyer(type="text", placeholder="buyer", name="buyer")
        input#inputSeller(type="text", placeholder="seller", name="seller")
        input#inputComputation(type="text", placeholder="computation", name="computation")
        input#inputCoins(type="text", placeholder="coins", name="coins")
        input#inputStatus(type="text", placeholder="status", name="status")
        input#inputTaskletID(type="text", placeholder="tasklet_id", name="tasklet_id")
        button#btnSubmit(type="submit") submit
    form#formAddTransaction_Friend(name="addtransaction_Friend",method="post",action="/addtransaction_Friend")
        input#inputUser_1(type="text", placeholder="user_1", name="user_1")
        input#inputUser_2(type="text", placeholder="user_2", name="user_2")
        input#inputStatus(type="text", placeholder="status", name="status")
        button#btnSubmit(type="submit") submit
    form#formAddUser(name="addUser",method="post",action="/addUser")
        input#inputUserid(type="text", placeholder="userid", name="userid")
        input#inputPassword(type="text", placeholder="password", name="password")
        input#inputPrice(type="text", placeholder="price", name="price")
        input#inputEmail(type="text", placeholder="email", name="email")
        input#inputFirstname(type="text", placeholder="firstname", name="firstname")
        input#inputLastname(type="text", placeholder="lastname", name="lastname")
        button#btnSubmit(type="submit") submit