
.wrapper{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

.welcomeMessage{
  font-family: Helvetica;
  font-size: 28px;
}

.statsSection{
  display: flex;
  margin-top: 40px;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}

.statsSection__tile__value{
  font-size: 28px;
  font-weight: 800;
}

.transaction__tile{
  margin-top: 40px;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 2px 2px 20px 0px #888888;
}
