<div class="wrapper">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="welcomeMessage">Login</div>
    </div>
    <div class="grid__col grid__col--2-of-2">
      <form (ngSubmit)="onSubmit()" class="searchform">
        Username
        <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username"><br>
        Password
        <input type="password" [(ngModel)]="user.password" name="password">
        <button type="submit" id="register">Login</button>
      </form>
    </div>
  </div>
</div>
