<div class="wrapper">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="welcomeMessage">Add Coins</div>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="statsSection">
        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            3222
          </div>
          <div class="statsSection__tile__description">
            Coins
          </div>
        </div>


      </div>
    </div>

    <div class="grid__col grid__col--4-of-4">
      <div class="transaction__tile">
        <div class="transaction__tile__header">
          <div class="transaction__tile__header__id">
            <div>
              1 coin costs 1€
            </div>

          </div>

        </div>

        <table class="transaction__table">
	<tbody>



  <tr>

		<td><div class="transaction__table__sumNumber"><input class="transaction__table__input"></div><div>Coins</div></td>
		<td class="transaction__table__coins"><div class="transaction__table__sumNumber">500</div><div>€</div></td>
	</tr>
	</tbody>

  <button>Charge</button>
</table>




      </div>
    </div>





















  </div>
</div>
