<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<h1>Add Coins</h1>

<h2>Current Coins: 1234<h2>


  <div class="wrap">

    <!-- Define all of the tiles: -->
    <div class="box">
      <div class="boxInner">
        <p>1 Coin costs 1€</p>
        <p>How many do you want to add?</p>
        <input type="number" placeholder="Amount" name="pge1" required>
        <button type="submit">Buy</button>
        <div class="titleBox">Package 1</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <p>10 Coin costs 8€</p>
        <p>How many do you want to add?</p>
        <input type="number" placeholder="Amount" name="pge1" required>
        <button type="submit">Buy</button>
        <div class="titleBox">Package 1</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <p>50 Coin costs 30€</p>
        <p>How many do you want to add?</p>
        <input type="number" placeholder="Amount" name="pge1" required>
        <button type="submit">Buy</button>
        <div class="titleBox">Package 1</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <p>100 Coin costs 50€</p>
        <p>How many do you want to add?</p>
        <input type="number" placeholder="Amount" name="pge1" required>
        <button type="submit">Buy</button>
        <div class="titleBox">Package 1</div>
      </div>
    </div>

  </div>
