<div class="wrapper">
  <div class="grid">
    <div class="grid__col grid__col--2-of-2">
      <div class="welcomeMessage">Add Coins</div>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="statsSection">
        <div class="statsSection__tile">
          <div class="statsSection__tile__value">
            {{ balance }}
          </div>
          <div class="statsSection__tile__description">
            Coins
          </div>
        </div>


      </div>
    </div>

    <div class="grid__col grid__col--4-of-4">
      <div class="transaction__tile">
        <div class="transaction__tile__header">
          <div class="transaction__tile__header__id">
            <div>
              1 coin costs 1€
            </div>

          </div>

        </div>

        <table class="transaction__table">
	<tbody>


    <form (ngSubmit)="onSubmit()" class="searchform">
      Coins
      <input type="number" [(ngModel)]="coinsReq.requestedCoins" name="requestedCoins" placeholder="Coins"><br>
      <button type="submit" id="request">Request</button>
    </form>

<!--
  <tr>
		<td><div class="transaction__table__sumNumber"><input class="transaction__table__input"></div><div>Coins</div></td>
		<td class="transaction__table__coins"><div class="transaction__table__sumNumber">500</div><div>€</div></td>
	</tr>
    <button>Charge</button>
-->
	</tbody>

</table>




      </div>
    </div>

    <div class="grid__col grid__col--2-of-2">
      <div class="transaction__tile">
        <table class="transaction__table">
          <tbody>
            <tr class="transaction__table__row__first">
              <td>ID</td>
              <td>RequestID</td>
              <td>Username</td>
              <td>RequestedCoins</td>
              <td>Approval</td>
            </tr>
            <tr *ngFor="let transactionListItem of getTransactions()" class="transaction__table__row">
              <td>{{ transactionListItem.id }}</td>
              <td>{{ transactionListItem.requestid }}</td>
              <td>{{ transactionListItem.username }}</td>
              <td>{{ transactionListItem.requestedCoins }}</td>
              <td>{{ transactionListItem.approval }}</td>
            </tr>
          </tbody>
        </table>

  </div>
</div>
